@model Bshop.Models.EntryModel

@{
    ViewData["Title"] = "Details";
}

<h1>Детали</h1>

<div>
    <h4>EntryModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.clientid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.clientid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.masterid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.masterid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.serviceid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.serviceid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.time)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Изменить</a> |
    <a asp-action="Index">Вернуться</a>
</div>
