@model IEnumerable<Bshop.Models.ServiceModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Услуги</h1>
<div class="dropdown mb-3">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Комнаты
    </button>
    <ul class=" dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li class="dropdown-item">
            <a asp-action="Woman" class="btn">Женская</a>
        </li>
        <li class="dropdown-item">
            <a asp-action="Man" class="btn">Мужская</a>
        </li>
    </ul>
</div>


<p>
    <a asp-action="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>ID</th>*@
            <th>
                Услуга
            </th>
            <th>
                Цена(в руб.)
            </th>
            <th>
                Комната
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>@item.id</td>*@
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cost)
            </td>
            <td>
                @item.GetRoom()
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Изменить</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Удалить</a>
                <a asp-action="Details" asp-route-id="@item.id">Подробности</a>
            </td>
        </tr>
}
    </tbody>
</table>
